{% extends "base.html" %}
{% block content %}

{% for book in all_books %}
  <div class="book">
    <div class="content">
        <div>
            <a href="/books/{{book.id}}">{{book.title}}</a> 
        </div>
        <div>Genre: {{book.genre}}</div>
        <div>Written by: {{book.author.first_name}} {{book.author.last_name}}</div>
        <div>Published by: {{book.publisher}}</div>
    </div>
    <div>
        <form action="/books/{{book.id}}/delete" class="delete-form" method="POST">
            <button aria-hidden="true" value="delete">Delete</button>
        </form>
    </div>
  </div>
{% endfor %}

{% endblock %}